Latitude and Longitude - stored as tuple

In [ ]:
lat_long = (12.33, 1.33)
latitude = lat_long[0]
longitude = lat_long[1]
print("latitude = {} and longitude = {}".format(latitude, longitude))

latitude = 12.33 and longitude = 1.33

Trying to edit a tuple

In [ ]:
#lat_long[0] = 13.11
lat_long = (14.11, 3.11)
print("updated lat_long = {}".format(lat_long))

updated lat_long = (14.11, 3.11)

Demonstrating unpacking of tuples

In [ ]:
def getTheDimensionsOfABox():
  dimensions = (1,2,3)
  return dimensions

length,breadth,height = getTheDimensionsOfABox()
print("length = {}".format(length))
print("breadth = {}".format(breadth))
print("height = {}".format(height))

length = 1
breadth = 2
height = 3

# SETS

In [ ]:
sample_list = ["India", "China", "Nepal", "Nepal", "Japan", "Japan"]
sample_set = set(sample_list)
print(sample_set)

{'Nepal', 'China', 'Japan', 'India'}

Adding an element to a set

In [ ]:
sample_set.add("Bhutan")
print(sample_set)

{'India', 'Japan', 'Nepal', 'China', 'Bhutan'}

Removing an element from a set

In [ ]:
sample_set.pop()
print(sample_set)

{'Japan', 'Nepal', 'China', 'Bhutan'}

In [ ]:
sample_list = [1,1,2,2,3,4,5]
sample_set = set(sample_list)
diff_in_size = len(sample_list) - len(sample_set)
print("The difference between the sizes of the sample_list and sample_set = {}".format(diff_in_size))

The difference between the sizes of the sample_list and sample_set = 2

## Union of sets

In [ ]:
numbers = [1,1,2,3,4]
set_of_numbers = set(numbers)
numbers_2 = [3,4,5,6,7]
set_of_numbers_2 = set(numbers_2)
numbers_3 = [8,9,10]
set_of_numbers_3 = set(numbers_3)

new_set = set_of_numbers.union(set_of_numbers_2, set_of_numbers_3)
print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Intersection of sets

In [ ]:
list_one = [1,2,3,4,5]
set_one = set(list_one)

list_two = [6,7,8,9, 10,1]
set_two = set(list_two)

list_three = [11,12,13,14,15,1]
set_three = set(list_three)
result = set_one.intersection(set_two,set_three)
print(result)

{1}

## Set constructor without using lists

In [ ]:
test_set = set(("one", "two", "three", "four", "four", "four"))
print(test_set)

{'four', 'one', 'two', 'three'}

## Difference between sets

In [ ]:
list_one = ["kerala", "karnataka", "tamil nadu", "andra"]
list_two = ["kerala", "karnataka", "tamil nadu", "telangana"]
set_one = set(list_one)
set_two = set(list_two)

one_diff_two = set_one.difference(set_two)
print("one diff two = {}".format(one_diff_two))

two_diff_one = set_two.difference(set_one)
print("two diff one = {}".format(two_diff_one))

one diff two = {'andra'}
two diff one = {'telangana'}

In [ ]:
What_am_i = ("what", "am", "i")
tuple_or_set = type(What_am_i)
print("Am I a tuple or a set? - I am a {} ".format(tuple_or_set))

Am I a tuple or a set? - I am a <class 'tuple'>

In [ ]:
What_am_i = set(What_am_i)
type(What_am_i)

set