<a href="https://colab.research.google.com/github/pyarisinghk/Python-Training/blob/master/Topic_2_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### List is one of the commonly used data structures in Python. It is mutable and ordered

In [56]:
sample_list = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

In [57]:
sample_list[0]

'Sunday'

In [58]:
sample_list[-1]

'Saturday'

In [59]:
sample_list[0:2] #will list elements at the position 0 and 1 only. 2 is out of the bounds

['Sunday', 'Monday']

In [60]:
sample_list[-2:-1] #will list only the one at -2, which is Friday. -1, Saturday will not be listed.

['Friday']

In [61]:
sample_list[:2] #when lower bound is not given, it assumes the start

['Sunday', 'Monday']

In [62]:
sample_list[-3:] #when uppper bound is not given, it assumes the end (note, last value is included)

['Thursday', 'Friday', 'Saturday']

### Append to a list

In [63]:
list_of_numbers = []
for num in range(1,11): #remember - 11 will not be included
  list_of_numbers.append(num)
print(list_of_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Membership operators in Python 
* in 
* not in

In [64]:
list_of_programming_languages = ["Python", "C++", "Java", "R", "Kotlin"]
if("C" in list_of_programming_languages):
  print("C is in given list of programming languages")

if ("C" not in list_of_programming_languages):
  print("C is not in the given list of programming languages")

C is not in the given list of programming languages

In [65]:
upper_bound = 20
lower_bound = 10
sample_range = range(10,20)
if lower_bound in sample_range:
  print("Lower bound is included in range in Python")
else:
  print("Lower bound is not included in range in Python")

if upper_bound in sample_range:
  print("Upper bound is included in range in Python")
else:
  print("Upper bound is not included in range in Python")

Lower bound is included in range in Python
Upper bound is not included in range in Python

### List is mutable

In [66]:
list_of_numbers[4] = "Five"
list_of_numbers[5] = "Six"
list_of_numbers

[1, 2, 3, 4, 'Five', 'Six', 7, 8, 9, 10]

### Identity operators 
* is (returns true if the values on either side of the operator points to the same object)
* not is

In [67]:
fruits = ["apple", "mango", "jack fruit"]
F = fruits

if(fruits is F):
  print("fruits IS same as F")

Fruits = ["apple", "mango", "jack fruit"]

if(fruits is Fruits):
  print("fruits IS same as Fruits")

if(fruits is not Fruits):
  print("fruits IS not same as Fruits")  

if(fruits == Fruits):
  print("But, fruits is equal to Fruits")

fruits IS same as F
fruits IS not same as Fruits
But, fruits is equal to Fruits

### Methods on/for Lists
* len
* sorted
* min
* max
* join

In [68]:
len(fruits)

3

In [69]:
list_of_programming_languages = ["Python", "C++", "Java", "R", "Kotlin"]

print(list_of_programming_languages)
sorted_list = sorted(list_of_programming_languages)
print(sorted_list)

['Python', 'C++', 'Java', 'R', 'Kotlin']
['C++', 'Java', 'Kotlin', 'Python', 'R']

In [70]:
number_list = [100, 2000, 20, 21, 34]
highest_number = max(number_list)
print(highest_number)

2000

In [71]:
lowest_number = min(number_list)
lowest_number

20

### Removes a specified element
remove

In [72]:
list_of_programming_languages = ["Python", "C++", "Java", "R", "Kotlin"]
print(list_of_programming_languages)

list_of_programming_languages.remove("Python") #note, the list gets updated there itself
print(list_of_programming_languages)

['Python', 'C++', 'Java', 'R', 'Kotlin']
['C++', 'Java', 'R', 'Kotlin']

### Removes an element by index 
pop with index as argument

In [73]:
list_of_programming_languages = ["Python", "C++", "Java", "R", "Kotlin"]
print(list_of_programming_languages)

list_of_programming_languages.pop(1) #note, the list gets updated there itself
print(list_of_programming_languages)

['Python', 'C++', 'Java', 'R', 'Kotlin']
['Python', 'Java', 'R', 'Kotlin']

### Removes the last item

pop

In [74]:
list_of_programming_languages = ["Python", "C++", "Java", "R", "Kotlin"]
print(list_of_programming_languages)

list_of_programming_languages.pop() #note, the last item gets removed
print(list_of_programming_languages)

['Python', 'C++', 'Java', 'R', 'Kotlin']
['Python', 'C++', 'Java', 'R']

### Removing items in the list using del

In [75]:
list_of_programming_languages = ["Python", "C++", "Java", "R", "Kotlin"]
print(list_of_programming_languages)

del list_of_programming_languages[0:2] #note, elements at 0th and 1st position gets removed
print(list_of_programming_languages)

['Python', 'C++', 'Java', 'R', 'Kotlin']
['Java', 'R', 'Kotlin']

### Joins

In [76]:
words_list = ["Topic", "2", "Lists", "in", "Python"]
file_name = "-".join(words_list)
print(file_name)

Topic-2-Lists-in-Python

In [77]:
names_list = ["Suresh", "Biju", "Byju", "Lekha", "Fathima"]
list_of_names = "\n".join(names_list)
print(list_of_names)

Suresh
Biju
Byju
Lekha
Fathima

### Split

In [78]:
hello = "My name is pyari"
hello.split(" ")

['My', 'name', 'is', 'pyari']

### End of Topic 2