Filter - Built in function on lists 
* Filters has two arguments - a function and a list.
* Filter returns a new iterable or a list. 
It parses the list in the argument based on the given function. Which ever value returns true from the function, those are added to the resultant. In other words, those that return false are all filtered out.  
* syntax - newList = filter(func,oldList)

In [40]:
numbers = range(1,11)
def isEven(n):
  if(n%2 == 0):
    return True

In [41]:
even_numbers = filter(isEven,numbers)
for number in even_numbers:
  print(number)

2
4
6
8
10

## Lambda functions
* Lambda functions are anonymous functions - they don't need a name like usual functions

In [42]:
def findSquare(n):
  return n*n

findSquare(4)

16

Let us see how to find the square of a number using lambda functions

* syntax - lambda arg: functionOfArgument
* eg: lambda n: n*2

In [43]:
square = lambda x: x*x
square(3)

9

In [44]:
square_numbers = filter(isEven,numbers)
for number in square_numbers:
  print(number)

2
4
6
8
10

### Using Lambdas for filters
(Note, we do not have to define the function before hand.)

In [45]:
age_of_citizens = [50,52,45,62,60,70]
senior_citizens = filter(lambda x: x>= 60, age_of_citizens)
senior_citizens = [age for age in senior_citizens] 
senior_citizens

[62, 60, 70]

### Maps transform a list into another. 
* Like filter, maps too take a function as an argument. Every element of the list goes through this function.

In [46]:
def getFirstNames(name):
  splitted_name = name.split(" ")
  return splitted_name[0]

In [47]:
names = ["Yeshwant Kanetkar", "Sachin Tendulkar", "Virat Kohli", "Anushka Sharma"]
first_letters = map(getFirstNames,names)
test = [name for name in first_letters]
test

['Yeshwant', 'Sachin', 'Virat', 'Anushka']

### Using lambdas on maps to find the string length of names

In [48]:
length_of_names = map(lambda full_name: len(full_name),names)

In [49]:
length_of_names = [name for name in first_names]
length_of_names

[]

### Using map to find the first names. 
* This time, we will use a user defined function

In [50]:
def getFirstNames(fullName):
  fullName = fullName.split(" ")
  firstName = fullName[0]
  return firstName

In [51]:
first_names = map(getFirstNames,names)
for name in first_names:
  print(name)

Yeshwant
Sachin
Virat
Anushka