<a href="https://colab.research.google.com/github/pyarisinghk/Python-Training/blob/master/Topic_1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Types - Basic

In [ ]:
type(1)

int

In [ ]:
type(1.2)

float

In [ ]:
type('a')

str

In [ ]:
type("hello world")

str

In [ ]:
type(False)

bool

### Data Structures - Types

### List -  mutable and ordered data structure

In [ ]:
list_of_fruits = ["apple", "mango", "jack fruit", "pineapple", "grapes"]
type(list_of_fruits)

list

### Tuple - ordered but not mutable

In [ ]:
tuple_dimensions_of_a_box = (1,2,3)
type(tuple_dimensions_of_a_box)

tuple

In [ ]:
tuple_latitude_longitude = (11.12, 12.33)
type(tuple_latitude_longitude)

tuple

### Sets -  Unordered and mutable, holds only unique elements

In [ ]:
list_of_countries =  ["India", "India", "China", "Nepal", "Pakistan", "Pakistan"]
set_of_countries = set(list_of_countries)
type(set_of_countries)

set

### Dictionaries - Key Value Pairs

In [ ]:
student_details = {'GPS_1': "Priya",
"GPS_2":"Reena",
"GPS_3": 'Latha',
"GPS_4":'Ankita',
"GPS_5": 'Nikil', 
1: 'Gayathri', 
2: 'Ahaan'
}
type(student_details)

dict

### Strings and some methods

In [ ]:
sample_string = "some string"
print("Sample string = {}".format(sample_string))

print("Sample string in upper case = {}".format(sample_string.upper()))

print("Is sample string in lower case = {}".format(sample_string.islower()))

print("The sample string has {} Ss".format(sample_string.count('s')))

print("The first occurance of s in the sample string is at the position {}".format(sample_string.find('s')))

print("The first occurance of t in the sample string is at the position {}".format(sample_string.find('t')))

Sample string = some string
Sample string in upper case = SOME STRING
Is sample string in lower case = True
The sample string has 2 Ss
The first occurance of s in the sample string is at the position 0
The first occurance of t in the sample string is at the position 6

In [ ]:
string_int = '6'
string_non_int = "pyari"

print("string_int = {}".format(string_int))
print("string_non_int = {}".format(string_non_int))

print("string_int = {}. This is a digit - {}".format(string_int,string_int.isdigit()))
print("string_non_int = {}. This is a digit - {}".format(string_non_int,string_non_int.isdigit()))

seven = 7
thirteen = seven + int(string_int)
print("adding 7 with string value of 6 = {}".format(thirteen))

length_of_sample_string = len(sample_string)
print("Length  of  sample string = {}".format(length_of_sample_string))

string_int = 6
string_non_int = pyari
string_int = 6. This is a digit - True
string_non_int = pyari. This is a digit - False
adding 7 with string value of 6 = 13
Length  of  sample string = 11

In [ ]:
test_string = "I am learning Python for data analysis"
test_string.split()

['I', 'am', 'learning', 'Python', 'for', 'data', 'analysis']

In [ ]:
two_sentences = "Hello, here are two sentences. Let us try to split it with a full stop as the separator"
two_sentences = two_sentences.split(".")
print(two_sentences)
sentence_one = two_sentences[0]
sentence_two = two_sentences[1]

print("sentence one = {}".format(sentence_one))
print("sentence_two = {}".format(sentence_two))

['Hello, here are two sentences', ' Let us try to split it with a full stop as the separator']
sentence one = Hello, here are two sentences
sentence_two =  Let us try to split it with a full stop as the separator

In [ ]:
long_sentence = "Here is a long sentence. I am going to split it into 4. Let us see how it goes"
long_sentence_cut_list = long_sentence.split(" ",3)
print(long_sentence_cut_list)

['Here', 'is', 'a', 'long sentence. I am going to split it into 4. Let us see how it goes']

In [ ]:
long_sentence = "Here is a long sentence again. I am going to split it into 4, but this time without separators. Let us see how it goes"
long_sentence_cut_list = long_sentence.split(None,3)
print(long_sentence_cut_list)

['Here', 'is', 'a', 'long sentence again. I am going to split it into 4, but this time without separators. Let us see how it goes']

In [ ]:
string_sample = "My name is Pyari"
first_two_letters = string_sample[:2]
first_two_letters

'My'

In [ ]:
last_five_letters = string_sample[-5:]
last_five_letters

'Pyari'

In [ ]:
three_to_five = string_sample[3:7]
three_to_five

'name'

In [ ]:
one_more = string_sample[-8:-6] #range is always from start to end. last value is not included as well
one_more

'is'

In [ ]:
input("Enter anything here: ")

Enter anything here: hi i entered something here

'hi i entered something here'

In [ ]:
x = int(input("Enter an integer here: "))

Enter an integer here: string

ValueError: ignored

### Run Time Errors

In [ ]:
while True:
  try:
    string_variable = int(input("Enter an integer here: "))
    break;
  except ValueError:
    print("Invalid input. Please enter an integer")

Enter an integer here: hi
Invalid input. Please enter an integer
Enter an integer here: 12

### Division by zero error

In [ ]:
no_of_students = int(input("Enter the number of students: "))
while True:
  try:
    no_of_chocolates = 100
    each_student_gets = no_of_chocolates/no_of_students
    break
  except ZeroDivisionError:
    print("division not possible - since number of students = 0")
    break

Enter the number of students: 0
division not possible - since number of students = 0

## Decisions

In [3]:
try:
  marks = float(input("Enter the marks: "))
except ValueError:
  print("Not a valid mark. Setting marks to 25")
  marks = 25

passing_marks = 35
if marks < passing_marks:
  print("Result - fail")
elif marks == passing_marks:
  print("passed with 35 marks")
else:
  print("Result - pass")

Enter the marks: 100
Result - pass

### Logical operators

In [13]:
day = str(input(("Enter the day: ")))
day = day.strip()
day = day.lower()
day = day[0:3]
if(day == "sat" or day == "sun"):
  print("It is a weekend")
else:
  print("It is a weekday")

Enter the day: tuesday
It is a weekday

In [15]:
marks_in_science = 20
marks_in_kannada = 45
if(marks_in_science > passing_marks and marks_in_kannada):
  print("passed in both the subjects")
else:
  print("Result - fail: passed in only one of the subjects or failed in both")

Result - fail: passed in only one of the subjects or failed in both

### Loops using ranges

In [17]:
test_range = range(1,11)
print(test_range)
type(test_range)

range(1, 11)

range

In [19]:
for value in range(1,11):
  print("value = {}".format(value))

value = 1
value = 2
value = 3
value = 4
value = 5
value = 6
value = 7
value = 8
value = 9
value = 10

### Looping through lists

In [20]:
list_fruits = ["Apple", "Banana", "Grapes", "Orange", "Watermelon", "Strawberry", "Litchi", "Mango"]
for list_item in list_fruits:
  print("list_item = {}".format(list_item))

list_item = Apple
list_item = Banana
list_item = Grapes
list_item = Orange
list_item = Watermelon
list_item = Strawberry
list_item = Litchi
list_item = Mango