### List Comprehensions makes the code for looping over a list much simpler. 
* The below list can be made much simpler with list comprehensions

In [2]:
list_of_fruits = ["apple","mango","pineapple","grapes","strawberry"]
for fruit in list_of_fruits: 
  print(fruit)

apple
mango
pineapple
grapes
strawberry

## Syntax for list comprehension
* [expression for item in list]

In [6]:
temp_list_of_fruits = [fruit for fruit in list_of_fruits]
temp_list_of_fruits

['apple', 'mango', 'pineapple', 'grapes', 'strawberry']

In [8]:
list_of_fruits_upper_case = [fruit.upper() for fruit in list_of_fruits]
list_of_fruits_upper_case

['APPLE', 'MANGO', 'PINEAPPLE', 'GRAPES', 'STRAWBERRY']

## Syntax for list comprehension with condition
* [expression for item in list if condition]

In [9]:
list_of_numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = [number for number in list_of_numbers if (number%2 == 0)]
even_numbers

[2, 4, 6, 8, 10]

### Syntax for list comprehension with if else
* [expression if expression else for item in list]
* Remember the bus game? 1,2,3,4, bus, 6,7,8,9,bus (We are going to generate that)

In [15]:
one_to_fifty = range(1,51) 
bus_game_result = ["Bus" if number%5 == 0 else number for number in one_to_fifty]
bus_game_result

[1,
 2,
 3,
 4,
 'Bus',
 6,
 7,
 8,
 9,
 'Bus',
 11,
 12,
 13,
 14,
 'Bus',
 16,
 17,
 18,
 19,
 'Bus',
 21,
 22,
 23,
 24,
 'Bus',
 26,
 27,
 28,
 29,
 'Bus',
 31,
 32,
 33,
 34,
 'Bus',
 36,
 37,
 38,
 39,
 'Bus',
 41,
 42,
 43,
 44,
 'Bus',
 46,
 47,
 48,
 49,
 'Bus']